{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-nested-ternary": "off",
    "react/forbid-prop-types": "off"
  }
}